<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dražba</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navbar__wrapper">
                <a class="navbar__logo" href="/">
                    <img src="../assets/images/logo.svg" alt="liquid dražobná spoločnosť">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="material-icons">menu</span>
                </button>
                <div class="navbar__items-wrapper" id="navbar">
                    <ul class="navbar__items">
                        <li class="navbar__item">
                            <a class="navbar__item-link navbar__item-link--active' }}" href="/">Domov</a>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Dražby</span><span class="material-icons navbar__auctions-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Aktuálna ponuka</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pripravované dražby</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Informácie</span><span class="material-icons navbar__info-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre veriteľov</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre účastníkov dražby</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre dlžníkov</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" href="/">O spoločmosti</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link--active" href="/">Kontakt</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/" class="button--outlined">Prihlásiť sa</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="navbar__breadcrumbs">
            <span>Domov</span><span>/</span><span class="navbar__breadcrumbs-current">Kontakt</span>
        </div>
    </header>
    <div class="container">
        <div class="auction-intro">
            <h1>
                <span class="auction-intro__title">Byt v Dunajskej Strede</span>
                <span class="auction-intro__price">40 200,00 €</span>
            </h1>
            <div class="auction-intro__location">
                <span class="material-icons">location_on</span><span>Komenského 1214/5, Dunajská Streda</span>
            </div>
        </div>
        <div class="auction__wrapper">
            <div class="auction-main">
                <div class="auction-main__gallery">
                    <div class="auction-main__gallery-highlight-wrapper">
                        <img src="../assets/images/houses/house1.jpg" alt="moderný dom" class="auction-main__gallery-highlight" />
                        <span class="material-icons auction-main__gallery-left-arrow">arrow_circle_left</span>
                        <span class="material-icons auction-main__gallery-right-arrow">arrow_circle_right</span>
                    </div>
                    <div class="auction-main__gallery-preview">
                        <img src="../assets/images/houses/house1_small.jpg" alt="moderný dom" class="auction-main__gallery-image--active" />
                        <img src="../assets/images/houses/house2_small.jpg" alt="moderný dom" />
                        <img src="../assets/images/houses/house3_small.jpg" alt="moderný dom" />                        
                        <img src="../assets/images/houses/house1_small.jpg" alt="moderný dom" />                        
                        <img src="../assets/images/houses/house2_small.jpg" alt="moderný dom" />                        
                        <img src="../assets/images/houses/house3_small.jpg" alt="moderný dom" />                    
                    </div>
                </div>
                <div class="auction-main__description">
                    <h2>Popis predmetu</h2>
                    <h3>Predmet dražby</h3>
                    <div class="auction-main__description-wrapper">
                        <p>Nehnuteľnosti nachádzajúce sa v k.ú. Maďarský Svodín, obec: SVODÍN, okres: Nové Zámky, zapísané na LV č. 3232, vedenom katastrálnym odborom Okresného úradu Nové Zámky:</p>
                        <br>
                        <ul>
                            <li>pozemok, parcela registra „C“KN  parc. č. 3701/65   druh pozemku: Zastavaná plocha a nádvorie o výmere 800 m²</li>
                            <li>pozemok, parcela registra „C“KN  parc. č. 3701/65   druh pozemku: Zastavaná plocha a nádvorie o výmere 800 m²</li>
                        </ul>
                        <br>
                        <p>Pozemok, parcela registra „C“KN  parc. č. 3701/65   druh pozemku: Zastavaná plocha a nádvorie o výmere 800 m².</p>
                    </div>
                    <!-- the display of the following div is toggled when user clicks on the div below (auction-main__show-more) -->
                    <div class="auction-main__hidden-description-wrapper">
                        <h3>Opis predmetu dražby</h3>
                        <div class="auction-main__hidden-detailed-description">
                            <p>Detailný opis predmetu dražby.</p>
                        </div>
                        <h3>Opis stavu predmetu dražby</h3>
                        <div class="auction-main__hidden-condition-description">
                            <p>Detailný opis stavu nehnuteľnosti.</p>
                        </div>
                    </div>
                    <div class="auction-main__show-more">
                        <span class="hidden">Zobraziť viac</span>
                        <span>Zobraziť menej</span>
                    </div>
                </div>
                <div class="auction-main__attachments">
                    <h2>Prílohy</h2>
                    <div class="auction-main__attachments-button-wrapper">
                        <button class="button--secondary">
                            <span>Katastrálna mapa</span><span class="material-icons">download</span>
                        </button>
                        <button class="button--secondary">
                            <span>Katastrálna mapa</span><span class="material-icons">download</span>
                        </button>
                        <button class="button--secondary">
                            <span>Katastrálna mapa</span><span class="material-icons">download</span>
                        </button>
                    </div>
                </div>
                <div class="auction-main__contact">
                    <h3>Kontaktná osoba</h3>
                    <div class="auction-main__contact-wrapper">
                        <div class="auction-main__contact-details">
                            <p><strong>Mgr. Štefan Ágh</strong></p>
                            <p><strong>Telefón:</strong>  <a href="tel:+421915360193">+421 915 360 193</a></p>
                            <p><strong>E-mail:</strong>   <a href="mailto:s.agh@licitator.sk">s.agh@licitator.sk</a></p>
                        </div>
                        <form action="/" method="POST" class="auction-main__contact-form">
                            <label for="name">Názov <span>*</span></label>
                            <input type="text" id="name" name="name" placeholder="Vaše meno" />
                            <label for="email">E-mail <span>*</span></label>
                            <input type="email" id="email" name="email" placeholder="Váš e-mail" />
                            <label for="message">Správa <span>*</span></label>
                            <textarea id="message" name="message" rows="5" placeholder="Vaša správa"></textarea>
                            <button type="submit" class="button--primary">Odoslať</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="auction-sidebar">
                <div class="acution-sidebar__acution-detail">
                    <h3>Detail dražby</h3>
                    <div class="acution-sidebar__acution-detail-table">
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Pridané</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">16.06.2022</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Všeobecná hodnota</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">44 200,00 €</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Najnižšie podanie</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">44 200,00 €</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Minimálne prihodenie</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">200,00 €</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Kolo dražby</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">Prvé</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">1. obhliadka</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">01.07.2022 16:00</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">2. obhliadka</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">08.07.2022 16:00</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Dátum konania dražby</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">19.07.2022 12:00</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Adresa konania dražby</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">Sídlo dražobnej spoločnosti LIQID, s.r.o., hala na 1. poschodí, vchod z dvora, Kalvínske námestie 126/2, Levice</span>
                        </div>
                        <div class="acution-sidebar__acution-detail-table-row">
                            <span class="acution-sidebar__acution-detail-table-row-key">Dražobná zábezpeka</span>
                            <span class="acution-sidebar__acution-detail-table-row-value">9 000,00 €</span>
                        </div>
                    </div>
                    <div class="acution-sidebar__acution-detail-deposit">
                        <p><strong>Spôsob zloženia zábezpeky</strong></p>
                        <br>
                        <ol>
                            <li>bezhotovostným prevodom na účet dražobníka alebo vkladom na účet dražobníka, č.ú. SK60 1100 0000 0029 4912 2628, vedený v Tatra banke, a.s. Bratislava, var. symbol  012022,</li>
                            <li>bankovou zárukou – veriteľ bankovej záruky LIQID, s.r.o., Kalvínske nám. 126/2, 934 01 Levice,</li>
                            <li>do notárskej úschovy – príjemca z notárskej úschovy LIQID, s.r.o., Kalvínske nám. 126/2, 934 01 Levice, </li>
                            <li>v hotovosti k rukám dražobníka,</li>
                            <li>dražobnú zábezpeku nie je možné  zložiť šekom, zmenkou ani platobnou kartou.</li>
                        </ol>
                    </div>
                </div>
                <div class="acution-sidebar__reminder">
                    <h3>Pripomenutie termínu dražby</h3>
                    <form action="?" method="POST" class="acution-sidebar__reminder-form">
                        <label for="email">E-mail <span>*</span></label>
                        <input type="email" id="email" name="email" placeholder="Váš e-mail" />
                        <label for="reminder-time">Kedy? <span>*</span></label>
                        <select name="reminder-time" id="reminder-time">
                            <option value="" disabled selected>Vyberte kedy</option>
                            <option value="time1">Čas 1</option>
                            <option value="time2">Čas 2</option>
                            <option value="time3">Čas 3</option>
                        </select>  
                        <button type="submit" class="button--primary">Odoslať</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img src="../assets/images/footer_logo.svg" alt="liquid dražobná spoločnosť logo" />
            </a>
            <div class="footer__contact">
                <h3>Kontakt</h3>
                <div class="footer__contact-location-text">
                    <p>Dražby a reality PAMAŠA s.r.o.</p>
                    <p>Kalvínske námestie 126/2</p>
                    <p>Levice</p>
                </div>
                <div class="footer__contact-details">
                    <p><strong>Telefón:</strong><a href="tel:+421915360193">+421 915 360 193</a></p>
                    <p><strong>E-mail:</strong><a href="mailto:s.agh@licitator.sk">s.agh@licitator.sk</a></p>
                </div>
                <button class="button--outlined">Kontaktujte nás</button>
            </div>
            <div class="footer__social-wrapper">
                <a href="/" target="blank">
                    <img src="../assets/images/instagramm.png" width="30px" height="30px" alt="instagram profil spoločnosti liquid" />
                </a>
                <a href="/" target="blank">
                    <img src="../assets/images/facebook.png" width="30px" height="30px" alt="facebook profil spoločnosti liquid" />
                </a>
            </div>
        </div>
    </footer>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>