<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pre účastníkov dražby</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navbar__wrapper">
                <a class="navbar__logo" href="/">
                    <img src="../assets/images/logo.svg" alt="liquid dražobná spoločnosť">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="material-icons">menu</span>
                </button>
                <div class="navbar__items-wrapper" id="navbar">
                    <ul class="navbar__items">
                        <li class="navbar__item">
                            <a class="navbar__item-link navbar__item-link--active' }}" href="/">Domov</a>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Dražby</span><span class="material-icons navbar__auctions-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Aktuálna ponuka</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pripravované dražby</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Informácie</span><span class="material-icons navbar__info-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre veriteľov</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre účastníkov dražby</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre dlžníkov</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" href="/">O spoločmosti</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link--active" href="/">Kontakt</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/" class="button--outlined">Prihlásiť sa</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="navbar__breadcrumbs">
            <span>Domov</span><span>/</span><span class="navbar__breadcrumbs-current">Kontakt</span>
        </div>
    </header>
    <div class="container">
        <div class="information__wrapper">
            <h1>Informácie pre účastníkov dražby</h1>
            <h3>Výhodná cena</h3>
            <p>Zaujímavosť dražieb spočíva najmä v atraktivite cien, ktoré sú výhodnejšie ako ceny realitných kancelárií, keďže kupujúci, okrem iného, nemusí znášať prehnané provízie realitných kancelárii a nikdy nekončiace množstvo rôznych poplatkov. Nehnuteľnosti ponúkané v dražbe preto bývajú cenovo výhodnejšie.</p><br>
            <p>Cena nehnuteľnosti v dražbe je v každom prípade stanovená súdnym znalcom. Znalec vypracúva znalecký posudok výlučne pre účely konkrétnej dražby (najčastejšie ako výkonu záložného práva), čo znamená, že znalecký posudok je aktuálny a že zohľadňuje skutočnosť, že nehnuteľnosť sa predáva v dražbe.</p>
            <h3>Možnosť úveru</h3>
            <p>V prípade, že nemáte dostatok vlastných finančných prostriedkov na kúpu nehnuteľnosti v dražbe, informujte sa u dražobníka, či je možné zabezpečiť financovanie kúpy nehnuteľnosti.</p><br>
            <p>Zároveň odporúčame, aby ste sa informovali o možnosti úverovania bankovými inštitúciami, najlepšie priamo vo Vašej banke.</p>
            <h3>Právna istota a vlastníctvo bez tiarch (Isté a čisté vlastníctvo)</h3>
            <p>Dobrovoľná dražba je osobitný, zákonom upravený spôsob, nadobudnutia vlastníckeho práva. To v zásadne znamená, že ak v 3 – mesačnej lehote nikto nepodá žalobu o určenie neplatnosti dražby (v ktorej bude chcieť odôvodnene spochybniť dražbu), Vaše vlastnícke právo nemôže byť nijak spochybnené na rozdiel od klasickej kúpy, pri ktorej túto istotu nemáte ani po niekoľkých rokoch.</p><br>
            <p>Dražby sú organizované dražobníkom – osobou, ktorá musí spĺňať zákonom stanovené odborné predpoklady a musí byť poistená proti vzniku škody až do výšky 2.000.000,00 EUR. Dražobník musí organizovať dražbu podľa vopred známych – zákonom stanovených pravidiel, nemusíte sa preto obávať, že sa stanete obeťou realitného podvodu.</p><br>
            <p>Keďže sa dražby realizujú v 99 % prípadov pre záložných veriteľov, ktorí sú zapísaní na liste vlastníctva ako prví v poradí, tak v zmysle ustanovenia § 151 ma ods. 3 zákona č. 40/1964 Zb. Občianskeho zákonníka nadobúda vydražiteľ vlastníctvo k predmetu dražby bez tiarch, čo pri nehnuteľnostiach znamená, že ľudovo povedané, budete mať „čistý“ list vlastníctva bez ohľadu na počet tiarch na liste vlastníctva. Kupujúci je tak na rozdiel od klasickej kúpy chránený aj proti prípadným právnym vadám, ktoré predávajúci mohol zamlčať.</p>
            <h3>Kto môže byť účastníkom dražby?</h3>
            <p>Účastníkom dražby môže byť v zásade každá fyzická osoba, ktorá je plne spôsobilá na právne úkony ako aj právnická osoba. Výnimku predstavujú osoby, o ktorých to ustanovuje zákon o dobrovoľných dražbách v § 5, napríklad osoby prepojené na dražobníka, osoby na ktorých majetok bol vyhlásený konkurz a v prípade výkonu záložného práva, dlžník, manžel dlžníka a osoba, ktorá draží za nich.</p>
            <h3>Ako sa zúčastniť dražby?</h3>
            <p>V prípade, že máte záujem zúčastniť sa dražby a urobiť na dražbe podanie (ponuku na kúpu predmetu dražby) postačuje Vám dostaviť sa v určenom čase, na určené miesto konania dražby, zložiť dražobnú zábezpeku a zapísať sa do zoznamu účastníkov dražby.</p><br>
            <p>Odporúčame, aby ste si pred dražbou riadne overili čas a miesto konania dražby a aby ste sa na dražbu dostavili v dostatočnom časovom predstihu, potrebnom na vybavenie „formalít“ potrebných na účasť na dražbe.</p><br>
            <p>V prípade, že ste fyzická osoba pre účasť na dražbe potrebujete:</p><br>
            <ul>
                <li><strong>doklad totožnosti (občiansky preukaz, cestovný pas, potvrdenie o pobyte),</strong></li>
                <li><strong>v prípade, ak bola zložená dražobná zábezpeka inak ako v hotovosti, potvrdenie o vykonaní vkladu na účet dražobníka, doklad o vložení prostriedkov do notárskej úschovy alebo doklad o zriadení bankovej záruky preukazujúci zloženie dražobnej zábezpeky danou fyzickou osobou,</strong></li>
                <li><strong>v prípade, ak sa dražby zúčastňuje fyzická osoba prostredníctvom splnomocneného zástupcu, splnomocnenie s úradne osvedčeným podpisom splnomocniteľa</strong></li>
            </ul><br>
            <p>V prípade, že sa dražby chce zúčastniť právnická osoba, potrebuje:</p><br>
            <ul>
                <li><strong>výpis z úradného registra, v ktorom je právnická osoba evidovaná (napr. výpis z obchodného registra), ktorý nie je v deň konania dražby starší ako 3 mesiace,</strong></li>
                <li><strong>doklad totožnosti (občiansky preukaz, cestovný pas, potvrdenie o pobyte) osoby konajúcej v mene právnickej osoby,</strong></li>
                <li><strong>v prípade, ak bola zložená dražobná zábezpeka inak ako v hotovosti, potvrdenie o vykonaní vkladu na účet dražobníka, doklad o vložení prostriedkov do notárskej úschovy alebo doklad o zriadení bankovej záruky preukazujúci zloženie dražobnej zábezpeky danou fyzickou osobou,</strong></li><li></li>
                <li><strong>v prípade, ak sa dražby zúčastňuje právnická osoba prostredníctvom splnomocneného zástupcu, splnomocnenie s úradne osvedčeným podpisom štatutárneho orgánu právnickej osoby splnomocniteľa</strong></li>
            </ul><br>
            <h3>Čo je to dražobná zábezpeka?</h3>
            <p>Dražobná zábezpeka je peňažná čiastka, ktorú je potrebné zložiť do rúk dražobníka na to, aby sa záujemca o kúpu predmetu dražby mohol zúčastniť dražby. V prípade, že účastník dražby nebude na dražbe úspešný, dražobná zábezpeka sa účastníkovi dražby vráti v plnej výške, bezodkladne po skončení dražby. V prípade, že sa účastník dražby stane vydražiteľom, dražobná zábezpeka sa započítava do kúpnej ceny.</p><br>
            <p>Dražobnú zábezpeku možno zložiť nasledovnými spôsobmi:</p><br>
            <ul>
                <li><strong>V hotovosti do rúk dražobníka (na dražobnú zábezpeku sa nevzťahuje obmedzenie platieb v hotovosti podľa osobitného zákona)</strong></li>
                <li><strong>Na účet dražobníka vedený v Tatra banke, a.s. IBAN SK50 1100 0000 0026 2276 5920 (v uvedenom prípade odporúčame zadať príkaz na úhradu najneskôr deň pred dňom konania dražby, nakoľko sa dražobná zábezpeka bude považovať za zloženú až v momente pripísania prostriedkov na účet dražobníka, doklad preukazujúci uskutočnenie príkazu na úhradu si dražobník vyhradzuje neakceptovať,</strong></li>
                <li><strong>do notárskej úschovy,</strong></li><li></li>
                <li><strong>formou bankovej záruky.</strong></li>
            </ul><br>
            <p>Dovoľujeme si dať do pozornosti, že účastník dražby dražobníkovi neplatí žiadnu sprostredkovateľskú províziu ani žiaden iný poplatok za účasť na dražbe.</p><br>
            <p>V prípade, že by akákoľvek osoba vydávajúca sa za zamestnanca dražobníka žiadala od účastníka akýkoľvek poplatok alebo inú formu plnenia, prosíme účastníkov o bezodkladné oznámenie tejto skutočnosti konateľovi dražobníka.</p>
            <h3>Ako prebieha dražba?</h3>
            <p>Dražba ako taká má veľmi jednoduchý priebeh. Jediné čo účastník potrebuje, je pozorne počúvať licitátora – osobu, ktorá vedie dražbu a priebeh účastníkom vysvetlí. Dražba sa začína v stanovenom termíne na stanovenom mieste tzv. vyvolaním, v rámci ktorého licitátor zadefinuje predmet dražby, ktorý sa draží, opíše jeho stav, oboznámi účastníkov s právami a záväzkami viaznucimi na predmete dražby, odhadnutú alebo zistenú cenu predmetu dražby, najnižšie podanie - ponukovú cenu, a najnižšie prihodenie - minimálnu sumu, ktorú musí účastník pridať k vyššiemu podaniu, ako bolo podanie naposledy urobené iným účastníkom.</p><br>
            <p>Pred uskutočnením samotnej licitácie, licitátor účastníkov oboznámi, najmä o tom, že za platné platné podanie sa považuje súčasné zdvihnutie čísla, ktoré obdrží účastník dražby pri prezencii a oznámenie ceny, ktorú chce účastník dražby za predmet dražby ponúknuť. Následne licitátor poskytne účastníkom priestor pre ich dotazy a otázky ohľadom stavu predmetu dražby a postupu pri licitácii.</p><br>
            <p>Po zodpovedaní otázok účastníkov dražby licitátor oznámi, že začína so samotnou  licitáciou a vyzve účastníkov dražby aby urobili podanie, ktoré nesmie byť nižšie ako hodnota najnižšieho podania. Túto výzvu zopakuje licitátor tri razy, to platí aj pri urobení podania niektorým z účastníkov dražby. Ak bolo urobené podanie a nikto z účastníkov dražby neurobí vyššie podanie ako bolo naposledy urobené niektorým z účastníkov dražby, licitátor udelí tomuto účastníkovi príklep a účastník dražby sa stáva vydražiteľom. Príklepom licitátora sa dražba končí.</p><br>
            <p>V prípade, že nastane situácia, v ktorej žiaden z účastníkov dražby neurobí podanie ani po tretej opakovanej výzve licitátora, licitátor dražbu ukončí vyhlásením o jej neúspešnosti. Môže sa však aj stať, že licitátor pre nezáujem účastníkov dražby zníži ponukovú cenu. Či však dôjde k zníženiu ponukovej ceny alebo nie, nemožno nikdy vopred oznámiť ani predpovedať. Či a o koľko sa zníži ponuková cena je na navrhovateľovi a dražobníkovi, ktorí zníženie prispôsobujú okolnostiam jednotlivých dražieb.</p>
            <h3>Ako zaplatiť kúpnu cenu?</h3>
            <p>Ak sa stane účastník dražby vydražiteľom, dražobná zábezpeka, ktorú vložil pred dražbou sa mu započíta do kúpnej ceny, to znamená, že vydražiteľ už len doplatí rozdiel medzi cenou dosiahnutou na dražbe a zloženou dražobnou zábezpekou.</p><br>
            <p>Cenu dosiahnutú vydražením je potrebné doplatiť do 15 dní odo dňa konania dražby. Avšak v prípade, že vydražiteľa zaskočia okolnosti, ktoré by mu bránili doplatiť cenu dosiahnutú vydražením v 15-dňovej lehote, po dohode s navrhovateľom dražby je možné lehotu na doplatenie primerane predĺžiť.</p>
            <h3>Kedy sa nadobúda vlastnícke právo k predmetu dražby?</h3>
            <p>Vydražiteľ sa s sa stáva vlastníkom predmetu dražby po doplatení ceny dosiahnutej vydražením, a to ku dňu udelenia príklepu na dražbe. Dražobník vystaví potvrdenie o zaplatení, ktoré spolu s notárskou zápisnicou o priebehu dražby predstavujú doklady, ktorými, do vykonania záznamu v katastri nehnuteľností, preukazuje, že je novým vlastníkom predmetu dražby.</p>
            <h3>Kedy môže vydražiteľ začať reálne užívať predmet dražby?</h3>
            <p>Po vydražení a doplatení ceny dosiahnutej vydražením je pôvodný vlastník povinný odovzdať nehnuteľnosť vydražiteľovi bez zbytočného odkladu. Z praxe však môžeme konštatovať, že pôvodný vlastník obvykle odovzdá nehnuteľnosť do 2 až 3 týždňov od konania dražby.</p>
        </div>
    </div>
    <footer>
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img src="../assets/images/footer_logo.svg" alt="liquid dražobná spoločnosť logo" />
            </a>
            <div class="footer__contact">
                <h3>Kontakt</h3>
                <div class="footer__contact-location-text">
                    <p>Dražby a reality PAMAŠA s.r.o.</p>
                    <p>Kalvínske námestie 126/2</p>
                    <p>Levice</p>
                </div>
                <div class="footer__contact-details">
                    <p><strong>Telefón:</strong><a href="tel:+421915360193">+421 915 360 193</a></p>
                    <p><strong>E-mail:</strong><a href="mailto:s.agh@licitator.sk">s.agh@licitator.sk</a></p>
                </div>
                <button class="button--outlined">Kontaktujte nás</button>
            </div>
            <div class="footer__social-wrapper">
                <a href="/" target="blank">
                    <img src="../assets/images/instagramm.png" width="30px" height="30px" alt="instagram profil spoločnosti liquid" />
                </a>
                <a href="/" target="blank">
                    <img src="../assets/images/facebook.png" width="30px" height="30px" alt="facebook profil spoločnosti liquid" />
                </a>
            </div>
        </div>
    </footer>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>