<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Pre veriteľov</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <nav class="navbar__wrapper">
                    <a class="navbar__logo" href="/">
                        <img src="../assets/images/logo.svg" alt="liquid dražobná spoločnosť">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="material-icons">menu</span>
                    </button>
                    <div class="navbar__items-wrapper" id="navbar">
                        <ul class="navbar__items">
                            <li class="navbar__item">
                                <a class="navbar__item-link navbar__item-link--active' }}" href="/">Domov</a>
                            </li>
                            <li class="navbar__item navbar__item--has-child">
                                <a class="navbar__item-link" href="#"><span>Dražby</span><span class="material-icons navbar__auctions-chevron">expand_more</span></a>
                                <ul class="navbar__item-child">
                                    <li class="navbar__item">
                                        <a href="/" class="navbar__item-link">Aktuálna ponuka</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="/" class="navbar__item-link">Pripravované dražby</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar__item navbar__item--has-child">
                                <a class="navbar__item-link" href="#"><span>Informácie</span><span class="material-icons navbar__info-chevron">expand_more</span></a>
                                <ul class="navbar__item-child">
                                    <li class="navbar__item">
                                        <a href="/" class="navbar__item-link">Pre veriteľov</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="/" class="navbar__item-link">Pre účastníkov dražby</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="/" class="navbar__item-link">Pre dlžníkov</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar__item">
                                <a class="navbar__item-link" href="/">O spoločmosti</a>
                            </li>
                            <li class="navbar__item">
                                <a class="navbar__item-link--active" href="/">Kontakt</a>
                            </li>
                            <li class="navbar__item">
                                <a href="/" class="button--outlined">Prihlásiť sa</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="navbar__breadcrumbs">
                <span>Domov</span><span>/</span><span class="navbar__breadcrumbs-current">Kontakt</span>
            </div>
        </header>
        <div class="container">
            <div class="information__wrapper">
                <h1>Informácie pre veriteľov</h1>
                <h3>Informácie pre navrhovateľov dražby</h3>
                <p>Potrebujete vymôcť dlh zabezpečený záložným právom alebo efektívne a transparente speňažiť majetok? Jeden zo spôsobov, ako môžete Váš problém vyriešiť je dobrovoľná dražba.</p><br>
                <p>Dražbou je verejné konanie, ktorého účelom je prechod vlastníckeho práva alebo iného práva k predmetu dražby, konané na základe návrhu navrhovateľa, pri ktorom sa licitátor obracia na vopred neurčený okruh osôb prítomných na vopred určenom mieste s výzvou na podávanie ponúk a pri ktorom na osobu, ktorá urobí najvyššiu ponuku, prejde príklepom licitátora vlastnícke alebo iné právo k predmetu dražby, alebo verejné konanie, ktoré bolo licitátorom ukončené z dôvodu, že nebolo urobené ani najnižšie podanie.</p><br>
                <p>Ako špecializovaný subjekt, ktorého primárnym predmetom činnosti je organizovanie verejných dražieb podľa zákona č. 527/2002 Z. z. o dobrovoľných dražbách, poskytujeme <strong>komplexný servis</strong> v súvislosti s <strong>organizovaním dobrovoľných dražieb ako zákonnej, transparentnej a efektívnej formy:</strong></p><br>
                <ul>
                    <li>výkonu zmluvného, zákonného a sudcovského záložného práva, za účelom uspokojenia pohľadávky záložného veriteľa,</li>
                    <li>výkonu zabezpečovacieho prevodu vlastníckeho práva, za účelom uspokojenia pohľadávky veriteľa,</li>
                    <li>speňaženia prebytočného nehnuteľného a hnuteľného majetku súkromných a verejných subjektov,</li>
                    <li>speňaženia predlženého majetku v rámci konania o dedičstve,</li>
                    <li>speňaženia majetku úpadcu v rámci konkurzného konania.</li>
                </ul><br>
                <p><strong>Našimi klientami sú:</strong></p><br>
                <ul>
                    <li>Bankové inštitúcie</li>
                    <li>Stavebné sporiteľne</li>
                    <li>Leasingové spoločnosti</li>
                    <li>Subjekty zaoberajúce sa nadobúdaním a správou pohľadávok</li>
                    <li>Spoločenstvá vlastníkov bytov</li>
                    <li>Správcovia bytových domov</li>
                    <li>Správcovia konkurznej podstaty</li>
                    <li>Notárske úrady</li>
                    <li>Právnické osoby</li>
                    <li>Fyzické osoby</li>
                </ul><br>
                <p>Vďaka kombinácii viac ako 15-ročných skúseností a vysokej kvalifikácie nášho tímu najmä v právnej, stavebnotechnickej a marketingovej oblasti Vám vieme poskytnúť kompletné vykonanie dobrovoľnej dražby na vysokej profesionálnej úrovni.</p><br>
                <p>Využitie prostriedkov plošnej inzercie, adresných foriem inzercie a aktívneho vyhľadávania záujemcov zabezpečuje bezkonkurenčné výsledky pre nás a našich klientov. Dosahujeme <strong>nadpriemernú výťažnosť nami vykonaných dražieb</strong>, rovnako vynikáme v rýchlosti úspešného ukončenia prípadu, nakoľko cca. <strong>85 % všetkých nami spravovaných prípadov bolo úspešne vyriešených</strong> splnením pohľadávky veriteľa, alebo predajom majetku <strong>v štádiu prvej dražby</strong>.</p><br>
                <p>Kvalitu našich služieb potvrdzujú nie len dosahované výsledky, ale aj skutočnosť, že sme <strong>úspešne ukončili viacero prípadov, ktoré konkurenčné subjekty nedokázali pre navrhovateľa úspešne ukončiť</strong>.</p><br>
                <p>Naše vnímanie je orientované na klienta, a preto sa Vašim potrebám snažíme prispôsobiť v čo najväčšej možnej miere. Ku každému prípadu pristupujeme individuálne. V zákonných medziach aktívne presadzujeme záujmy navrhovateľa dražby voči dlžníkom, záložcom ako aj iným veriteľom. Garantujeme efektívne zohľadnenie záujmov navrhovateľa dražby aj v právnej rovine a to <strong>100 % - nou právnou istotou</strong>. Zodpovedný prístup potvrdzuje aj skutočnosť, že <strong>žiadna z nami vykonaných dražieb nebola súdom právoplatne určená za neplatnú</strong>.</p>
                <br>
                <br>
                <p>Plne si uvedomujeme postavenie dražobníka a ako aj inštitútu dobrovoľných dražieb, kladieme preto mimoriadny dôraz na morálne a kvalifikačné predpoklady nášho tímu. Pri našej činnosti dbáme na realizáciu uhradzovacej funkcie vykonávaného záložného práva, motivujeme dlžníka k splneniu pohľadávky navrhovateľa dražby pred dražbou. Okrem minimalizácie sociálnych dopadov, minimalizujeme aj rôzne druhy rizík, ktorým je navrhovateľ vystavený v spojitosti s dražbou ako výkonom záložného práva na obydlie svojho klienta. V prípadoch speňažovania majetku na návrh vlastníka kladieme dôraz najmä na efektivitu a transparentnosť celého predaja.</p>
                <p>Samozrejmosťou je <strong>pôsobnosť na celom území Slovenskej republiky</strong> a <strong>znalosť lokálnych pomerov</strong> vďaka širokej sieti spolupracujúcich subjektov. Naša spoločnosť je tak pripravená zabezpečiť klientovi územne neobmedzený servis, bez straty výhody znalosti lokálneho prostredia.</p>
                <h3>Výhody dražby pre navrhovateľa?</h3>
                <p>Dražba nepochybne patrí medzi zákonné, v niektorých prípadoch zákonom preferované, inštitúty určené záložným veriteľom na výkon ich záložného práva s cieľom vymôcť ich zabezpečenú pohľadávku. Na rozdiel od iných foriem výkonu záložného práva, pre uskutočnenie dobrovoľnej dražby sa nevyžaduje rozhodnutie súdu.</p><br>
                <p>Veriteľ tak, na rozdiel od zdĺhavého a náročného súdneho vymáhania, môže zákonným spôsobom vymôcť svoju pohľadávku v časovom horizonte niekoľkých mesiacov. Veriteľovi stačí mať zriadené záložné právo a splatnú pohľadávku.</p><br>
                <p>Ďalšou výhodou dobrovoľnej dražby je aj jej ekonomická efektívnosť. Na rozdiel od súdneho vymáhania, v ktorom náklady na vymáhanie predstavujú súdny poplatok vo výške 6 % z hodnoty žalovanej pohľadávky ako aj trovy exekučného konania vo výške 20 % z hodnoty vymoženého plnenia, je dražba menej nákladnou alternatívou, nakoľko náklady dražby (vrátane odmeny) spravidla predstavujú 2 – 8 % z hodnoty pohľadávky, prípadne hodnoty predmetu dražby. Výhodou je aj skutočnosť, že veriteľ neplatí vopred žiadne poplatky, ako je tomu v prípade súdneho konania.</p><br>
                <p>Dražba je zároveň aj najtransparentnejším a najúčinnejším spôsobom speňažovania majetku, nakoľko je organizovaná dražobníkom – profesionálom, ktorý má v súvislosti s vykonávaním dobrovoľných dražieb poistenie do výšky škody 2.000.000,00 EUR, spĺňa prísne, zákonom stanovené, kvalifikačné požiadavky a v neposlednom rade, nad jeho činnosťou vykonáva dohľad Ministerstvo spravodlivosti SR.</p><br>
                <p>Dražobník pri organizácii postupuje v súlade so zákonom o dobrovoľných dražbách, ktorý jasne a predvídateľne určuje podmienky organizovania dražieb. Nemožno preto spochybňovať výsledok dražby z dôvodu netransparentnosti alebo prispôsobovania podmienok dražby vybraným účastníkom.</p>
                <h3>Aké sú náklady dražby?</h3>
                <p>Nákladmi dražby možno rozumieť náklady vynaložené dražobníkom na materiálne a organizačné zabezpečenie dražby. Konkrétne pôjde najmä o náklady na vypracovanie znaleckého posudku, náklady na inzerciu a propagáciu konania dražby, cestovné náhrady dražobníka, notársky poplatok za osvedčenie predmetu dražby a  odmena dražobníka.</p><br>
                <p>Všetky náklady dražby budú pred začatím prípravy dražby s navrhovateľom vopred určené v zmluve o vykonaní dražby. Rovnako budú navrhovateľovi po ukončení dražby vyčíslené, odôvodnené a náležite preukázané. Pri uzatvorení a plnení zmluvy nepožadujeme žiadne preddavky a v prípade, že je navrhovateľom dražby záložný veriteľ, náklady dražby znáša záložca v zmysle ustanovenia § 151l ods. 3 občianskeho zákonníka („Záložný veriteľ má voči záložcovi právo na úhradu nevyhnutne a účelne vynaložených nákladov v súvislosti s výkonom záložného práva.“).</p>
                <h3>Za aký čas môže byť dražba uskutočnená?</h3>
                <p>Proces dobrovoľnej dražby vieme uskutočniť do 7 týždňov,  v niektorých prípadoch (napríklad speňaženie dedičskej podstaty, alebo predaj majetku navrhovateľa dražby) do 5 týždňov odo dňa uzatvorenia zmluvy o vykonaní dražby. Rýchlejšie vykonanie dražby obmedzujú len zákonom ustanovené lehoty.</p>
            </div>
        </div>
        <footer>
            <div class="footer__wrapper">
                <a href="/" class="footer__logo">
                    <img src="../assets/images/footer_logo.svg" alt="liquid dražobná spoločnosť logo" />
                </a>
                <div class="footer__contact">
                    <h3>Kontakt</h3>
                    <div class="footer__contact-location-text">
                        <p>Dražby a reality PAMAŠA s.r.o.</p>
                        <p>Kalvínske námestie 126/2</p>
                        <p>Levice</p>
                    </div>
                    <div class="footer__contact-details">
                        <p><strong>Telefón:</strong><a href="tel:+421915360193">+421 915 360 193</a></p>
                        <p><strong>E-mail:</strong><a href="mailto:s.agh@licitator.sk">s.agh@licitator.sk</a></p>
                    </div>
                    <button class="button--outlined">Kontaktujte nás</button>
                </div>
                <div class="footer__social-wrapper">
                    <a href="/" target="blank">
                        <img src="../assets/images/instagramm.png" width="30px" height="30px" alt="instagram profil spoločnosti liquid" />
                    </a>
                    <a href="/" target="blank">
                        <img src="../assets/images/facebook.png" width="30px" height="30px" alt="facebook profil spoločnosti liquid" />
                    </a>
                </div>
            </div>
        </footer>
        <script src="../assets/js/scripts.js"></script>
    </body>
</html>