<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pre dlžníkov</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav class="navbar__wrapper">
                <a class="navbar__logo" href="/">
                    <img src="../assets/images/logo.svg" alt="liquid dražobná spoločnosť">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="material-icons">menu</span>
                </button>
                <div class="navbar__items-wrapper" id="navbar">
                    <ul class="navbar__items">
                        <li class="navbar__item">
                            <a class="navbar__item-link navbar__item-link--active' }}" href="/">Domov</a>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Dražby</span><span class="material-icons navbar__auctions-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Aktuálna ponuka</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pripravované dražby</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item navbar__item--has-child">
                            <a class="navbar__item-link" href="#"><span>Informácie</span><span class="material-icons navbar__info-chevron">expand_more</span></a>
                            <ul class="navbar__item-child">
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre veriteľov</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre účastníkov dražby</a>
                                </li>
                                <li class="navbar__item">
                                    <a href="/" class="navbar__item-link">Pre dlžníkov</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link" href="/">O spoločmosti</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__item-link--active" href="/">Kontakt</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/" class="button--outlined">Prihlásiť sa</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="navbar__breadcrumbs">
            <span>Domov</span><span>/</span><span class="navbar__breadcrumbs-current">Kontakt</span>
        </div>
    </header>
    <div class="container">
        <div class="information__wrapper">
            <h1>Informácie pre dlžníkov</h1>
            <h3>Splatenie dlhu – stop dražbe</h3>
            <p>Niekto príde o zamestnanie, niekto má zdravotné problémy prípadne iné nešťastie, ktoré v živote môže človeka postretnúť. Predstava, že by ste okrem toho všetkého mali prísť aj o strechu nad hlavou je častokrát veľmi ťažká.</p><br>
            <p>Rozumieme situácii, do ktorej ste sa dostali, s podobnými osudmi sa stretávame každý deň. Preto naším prvoradým cieľom nie je predať založenú nehnuteľnosť, ale zabezpečiť, aby z Vašej strany došlo k splneniu pohľadávky veriteľa v čo najväčšom rozsahu. Vďaka uvedenému prístupu v mnohých prípadoch k dražbe ani nedôjde, nakoľko sa nám spoločnými silami podarí nájsť riešenie akceptovateľné pre všetky strany, či už splnením celého Vášho dlhu, alebo jeho časti s obnovou splácania.</p><br>
            <p>Hoci sa Vám Vaša situácia môže zdať bezvýchodisková, odporúčame Vám, aby ste reagovali na zásielky, komunikovali s nami a snažili sa vyriešiť vzniknutú situáciu pred samotným predajom, teda samotnou dražbou.</p><br>
            <p>Váš dlh vrátane nákladov dražby môžete uhradiť na účet Vášho veriteľa, alebo aj na účet dražobníka vedený v Tatra banke, a.s. pod IBAN SK50 1100 0000 0026 2276 5920. Pre čo najrýchlejšiu identifikáciu Vašej platby prosím uveďte variabilný symbol podľa čísla dražobného prípadu bez začiatočného písmena a „lomítka“ a do poznámky uveďte Vaše meno a dátum narodenia.</p>
            <h3>Zásielka od dražobníka</h3>
            <p>V prípade, že Vám bola doručená akákoľvek poštová správa, e-mail, SMS správa, alebo sme sa Vás pokúsili telefonicky kontaktovať, môžeme Vám len odporučiť, aby ste si zásielky preberali, komunikovali s nami a reagovali na výzvy a žiadosti, ktoré Vám doručujeme.</p><br>
            <p>Ak máte otázky týkajúce sa dražby, Vašich povinností, alebo by ste radi uhradili Váš dlh, odporúčame Vám, aby ste nás bezodkladne kontaktovali na tel. č. 0915 360 193 alebo na emailovej adrese: office@licitator.sk</p><br>
            <p>Z dôvodu jednoznačnej a bezproblémovej identifikácie dražobného prípadu si prosím pripravte Vaše rodné číslo a číslo Vášho prípadu, ktoré je uvedené na každej zásielke v tvare A XX/RRRR. Tieto informácie budeme od Vás požadovať, aby sme si overili Vašu totožnosť a zabezpečili, že nedôjde k vyzradeniu potenciálne citlivých informácii tretej – nepovolanej osobe.</p>
            <h3>Súčinnosť pri dražbe</h3>
            <p>Bez ohľadu na to, či si pri príprave dražby budete plniť Vaše povinnosti, k dražbe Vašej nehnuteľnosti dôjde. S cieľom dosiahnuť na dražbe predaj Vašej nehnuteľnosti za čo najvyššiu cenu Vám môžeme len odporučiť, aby ste pri príprave dražby spolupracovali. Len spoločnými silami môžeme docieliť, že sa z predaja Vášho majetku nie len upokoja Vaše dlhy, ale Vám po úhrade dlhov ostanú finančné prostriedky, ktoré Vám, po odovzdaní nehnuteľností novému vlastníkovi, vyplatíme.</p><br>
            <p>V záujme dosiahnutia čo najvyššej predajnej ceny na dražbe, si Vám dovoľujeme dať do pozornosti Vaše povinnosti v spojitosti s dražbou, najmä:</p>
            <h3>Poskytnutie súčinnosti pri ohodnotení predmetu dražby (nehnuteľnosti)</h3>
            <p>Podľa zákona o dobrovoľných dražbách: „Vlastník predmetu dražby, ako aj osoba, ktorá má predmet dražby v držbe, alebo nájomca sú povinní po predchádzajúcej výzve v čase určenom v tejto výzve umožniť vykonanie ohodnotenia, ako aj obhliadku predmetu dražby.“</p><br>
            <p>Nehnuteľnosť máte povinnosť sprístupniť v termíne stanovenom vo výzve, ktorú sme Vám zaslali. V prípade, že v určenom termíne neviete sprístupniť nehnuteľnosť (napr. pre pracovné povinnosti), nehnuteľnosť môže sprístupniť aj tretia osoba, napríklad iný člen Vašej rodiny, známy, prípadne iná poverená osoba.</p><br>
            <p>Dovoľujeme si Vás upozorniť, že výzva Vám je zasielaná približne tri týždne pred uskutočnením obhliadky. Uvedenú dobu možno považovať za dostatočný časový priestor na zabezpečenie sprístupnenia nehnuteľnosti. Vyhradzujeme si preto právo nevyhovieť Vašej prípadnej žiadosti o zmenu termínu obhliadky.</p><br>
            <p>V prípade, že nehnuteľnosť nebude sprístupnená, ohodnotenie predmetu dražby môže byť vykonané aj bez potreby vstupu do nehnuteľnosti. Neumožnením vykonania riadnej obhliadky znalcom nezabránite konaniu dražby. Práve naopak, poškodíte len svoje záujmy, nakoľko znalec pri stanovení hodnoty bez sprístupnenia vychádza z dostupných údajov, čo má spravidla negatívny vplyv na konečnú výšku ceny stanovenej pri ohodnotení.</p><br>
            <p>Z uvedených dôvodov Vám odporúčame nehnuteľnosť sprístupniť, a v prípade ak sa z vážnych a nepredvídateľných dôvodov nemôžete Vy, alebo Vami splnomocnená osoba zúčastniť obhliadky nehnuteľnosti znalcom, aby ste nás okamžite kontaktovali so žiadosťou o zmenu termínu so zdokladovaním prekážky, ktorá Vám bránila sprístupniť nehnuteľnosť.</p>
            <h3>Poskytnutie všetkých potrebných informácii</h3>
            <p>Podľa zákona o dobrovoľných dražbách: „Vlastník predmetu dražby, ako aj osoba, ktorá má predmet dražby v držbe, alebo nájomca sú povinní bez zbytočného odkladu oznámiť dražobníkovi na jeho žiadosť všetky skutočnosti, ktoré sú im známe o stave predmetu dražby, ako aj o právach a záväzkoch viaznucich na predmete dražby“</p><br>
            <p>Akákoľvek osoba disponujúca informáciami, ktoré by mohli mať vplyv na určenie hodnoty predmetu dražby a na dražbu samotnú, je povinná bezodkladne ich oznámiť našej spoločnosti. Naša spoločnosť zasiela výzvu na poskytnutie informácii týkajúcich sa dražby každej osobe, pri ktorej je predpoklad, že by uvedenými informáciami mohla disponovať.</p><br>
            <p>Poskytnutím požadovaných informácii prispejete k riadnemu priebehu dražby a vyhnete sa tak následkom, ktoré by mohli plynúť z prípadného nesplnenia si povinnosti (napr. škoda spôsobená veriteľovi alebo novému vlastníkovi, spáchanie trestného činu úmyselného poškodzovania práv veriteľa).</p><br>
            <p><strong>Spoločnosť Dražby a reality PAMAŠA, s.r.o. so sídlom Kalvínske nám. 2, Levice, IČO: 36 706 655 týmto žiada všetky osoby, o oznámenie a doloženie všetkých skutočností o stave predmetov dražby ako aj o všetkých právach a záväzkoch vrátane nájomných vzťahov, ktoré sa vzťahujú na predmety dražieb, ktorých predaj spoločnosť zabezpečuje v zmysle zákona č. 527/2002 Z. z. o dobrovoľných dražbách. Spoločnosť upozorňuje, že v prípade ich zamlčania alebo účelového vytvárania záväzkov s úmyslom poškodenia veriteľa sa osoba, ktorá tak koná vystavuje riziku vzniku zodpovednosti za náhradu škody, ktorú takýmto konaním spôsobila veriteľovi ako aj riziku prípadného trestného stíhania.</strong></p>
            <h3>Sprístupnenie nehnuteľnosti záujemcom</h3>
            <p>Podľa zákona o dobrovoľných dražbách: „Pred začatím dražby musí byť umožnená účastníkom dražby v termíne uvedenom v oznámení o dražbe obhliadka predmetu dražby. Ak je predmetom dražby vec, určí dražobník termín obhliadky predmetu dražby s ohľadom na umiestnenie veci.“</p><br>
            <p>Samotnej dražbe predchádzajú obhliadky nehnuteľnosti, ktoré sú určené záujemcom o kúpu predmetu dražby. Záujemcovia sa zúčastňujú obhliadok, aby sa bezprostredne oboznámili s lokalitou, v ktorej sa nehnuteľnosť nachádza, interiérom nehnuteľnosti, ako aj s technickým stavom nehnuteľnosti. Termíny najmenej dvoch obhliadok sú vopred určené dražobníkom v Oznámení o dražbe, ktoré Vám doručujeme pred samotnými obhliadkami.</p><br>
            <p>Ako pri obhliadke so znalcom, aj v tomto prípade platí, že neumožnením vykonania riadnej obhliadky konaniu dražby nezabránite. Práve naopak, poškodíte len svoje záujmy, nakoľko záujemcovia nebudú vedieť, v akom technickom stave sa nehnuteľnosť nachádza a z obozretnosti radšej ponúknu na dražbe menšiu cenu, akú by ponúkli, keby sa s nehnuteľnosťou mohli riadne oboznámiť. Dovoľujeme si Vás upozorniť, že povinnosť sprístupniť nehnuteľnosť pre účely obhliadky, má nielen vlastník nehnuteľnosti, ale aj každá osoba, ktorá nehnuteľnosť užíva, alebo má do nehnuteľnosti umožnený prístup.</p>
            <h3>Odovzdanie predmetu dražby</h3>
            <p>Podľa zákona o dobrovoľných dražbách: „Ak ide o predmet dražby podľa § 20 ods. 13(teda byt, dom, inú nehnuteľnosť, podnik, alebo jeho časť), predchádzajúci vlastník je povinný odovzdať predmet dražby na základe predloženia osvedčeného odpisu notárskej zápisnice a doloženia totožnosti vydražiteľa podľa podmienok uvedených v oznámení o dražbe bez zbytočných prieťahov. Dražobník je povinný na mieste spísať zápisnicu o odovzdaní predmetu dražby.“</p><br>
            <p>Do času uskutočnenia dražby, na ktorej sa Vaša nehnuteľnosť predá inej osobe, môžete nehnuteľnosť užívať. Po vydražení Vašej nehnuteľnosti máte povinnosť odovzdať nehnuteľnosť novému vlastníkovi bez zbytočných prieťahov.</p><br>
            <p>Rozumieme Vašej situácii, nehnuteľnosť nie je možné opustiť „zo dňa na deň“, preto sa snažíme k celej záležitosti pristupovať ľudsky. Snažíme sa pôsobiť na vydražiteľa a  termín odovzdania predmetu dražby sa určujeme po dohode Vás a vydražiteľa. Radi by sme Vás však upozornili, že práve Váš postoj k celej záležitosti bude častokrát ovplyvňovať ochotu vydražiteľov, ako aj zamestnancov našej spoločnosti urobiť Vám ústupky. Nakoľko sa jedná o Vašu povinnosť, vyzývame Vás, aby ste Vašim konaním a prístupom predišli komplikáciám a súdnym konaniam, ktoré by mohli byť iniciované vydražiteľom z dôvodu nesplnenia Vašej povinnosti. Dovoľujeme si Vás upozorniť, že v zmysle zákona o dobrovoľných dražbách zodpovedáte za omeškanie pri odovzdaní predmetu dražby novému vlastníkovi a za škodu ktorá do reálneho odovzdania vznikla.</p><br>
            <p><strong>Záverom apelujeme na všetky dražbou dotknuté osoby (najmä dlžníkov), že len komunikáciou, plnením povinností a spoluprácou môžeme dospieť k prijateľnému výsledku pre všetky zúčastnené strany a môžeme predísť zbytočným nedorozumeniam.</strong></p>
        </div>
    </div>
    <footer>
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img src="../assets/images/footer_logo.svg" alt="liquid dražobná spoločnosť logo" />
            </a>
            <div class="footer__contact">
                <h3>Kontakt</h3>
                <div class="footer__contact-location-text">
                    <p>Dražby a reality PAMAŠA s.r.o.</p>
                    <p>Kalvínske námestie 126/2</p>
                    <p>Levice</p>
                </div>
                <div class="footer__contact-details">
                    <p><strong>Telefón:</strong><a href="tel:+421915360193">+421 915 360 193</a></p>
                    <p><strong>E-mail:</strong><a href="mailto:s.agh@licitator.sk">s.agh@licitator.sk</a></p>
                </div>
                <button class="button--outlined">Kontaktujte nás</button>
            </div>
            <div class="footer__social-wrapper">
                <a href="/" target="blank">
                    <img src="../assets/images/instagramm.png" width="30px" height="30px" alt="instagram profil spoločnosti liquid" />
                </a>
                <a href="/" target="blank">
                    <img src="../assets/images/facebook.png" width="30px" height="30px" alt="facebook profil spoločnosti liquid" />
                </a>
            </div>
        </div>
    </footer>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>